body {
  margin: 0;
  font-family: sans-serif;
  background: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
}

#app {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-top: 40px;
}

#sidebar {
  width: 220px;
  background: #2a2a2a;
  padding: 15px;
  border-radius: 10px;
}

#status {
  margin-bottom: 15px;
  font-size: 14px;
  opacity: 0.8;
}

#history {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
  max-height: 400px;
  overflow-y: auto;
}

#board {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(8, 70px);
  border: 4px solid #333;
}

.cell {
  width: 70px;
  height: 70px;
  position: relative;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}

.piece {
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}

.cell:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.coord {
  position: absolute;
  font-size: 12px;
  opacity: 0.7;
}

.cell {
  position: relative;
}

.letter {
  bottom: 4px;
  right: 6px;
}

.number {
  top: 4px;
  left: 6px;
}

.move-row {
  display: flex;
  gap: 10px;
}

.move-number {
  opacity: 0.6;
  width: 24px;
}

.move {
  position: relative;
}

.move::after {
  content: '';

  position: absolute;

  width: 18px;
  height: 18px;

  background: rgba(255, 255, 0, 0.6);

  border-radius: 50%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.last-move {
  background-color: rgba(255, 255, 0, 0.35);
}

.piece {
  cursor: grab;
}

.piece:active {
  cursor: grabbing;
}

.history-move {
  cursor: pointer;
}

.history-move:hover {
  text-decoration: underline;
}

#controls {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

#controls button {
  flex: 1;

  background: #3a3a3a;
  border: none;

  color: white;

  padding: 10px;

  border-radius: 8px;

  cursor: pointer;

  transition: 0.2s;
}

#controls button:hover {
  background: #4a4a4a;
}
